# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Map Data
PTC_eclipse_linux/data
PTC_eclipse_OSX/data
data

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Compiler Ish
PTC_eclipse_linux/linaro_EVB
PTC_eclipse_linux/linaro_linux
PTC_eclipse_linux/Debug
PTC_eclipse_OSX/Debug
PTC_eclipse_linux/srtm*
PTC_eclipse_linux/readme*

# Eclipse Ish
.metadata
RemoteSystemsTempFiles

# misc. 
.vagrant
VM/S32V_BSP
VM/package.box

# data storage
*.json
*.csv
*.png
*.jpg
