Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Cross-Compiler Ish
PTC_eclipse/linaro_EVB
PTC_eclipse/linaro_linux

# Eclipse Ish
.metadata

# misc. 
.vagrant
VM/S32V_BSP
VM/package.box

