Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Map Data
PTC_eclipse/data/*

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Compiler Ish
PTC_eclipse/linaro_EVB
PTC_eclipse/linaro_linux
PTC_eclipse/Debug
PTC_eclipse/srtm*
PTC_eclipse/readme*

# Eclipse Ish
.metadata

# misc. 
.vagrant
VM/S32V_BSP
VM/package.box

